.carusel-title {
    position: absolute;
    bottom: 40%;
}

.title-carusel {
    font-size: 3rem;
}


.text-align-center {
    text-align: center;
}

.card {
    height: 180px;
}

.last-section {
    margin-top: 15%;
    margin-bottom: 15%;
}

.ques-sec {
    margin-top: 10%;
    margin-bottom: 10%;
}

.feedback-sec {
    margin-top: 10%;
    margin-bottom: 10%;
}

.success-sec {
    margin-top: 10%;
    margin-bottom: 10%;
}

.joining-sec {
    margin-top: 10%;
    margin-bottom: 10%;
}

.explore-sec {
    margin-top: 5%;
    margin-bottom: 5%;
}

.carusel-sec {
    margin-top: 5%;
    margin-bottom: 5%;
}

.courses {
    margin-top: 10%;
    margin-bottom: 10%;
}








@media screen and (max-width:376px) {
    .carusel-title {
        bottom: 0;
    }

    .title-carusel {
        font-size: 1.5rem;
    }

    .width {
        width: 350px;
    }

    .last-section {
        display: none;
    }

    .fs {
        font-size: 9px;
    }

    .image {
        width: 100px;
        height: 180px;
    }



}



/* tablet view */

@media screen and (min-width:377px) and (max-width:1000px) {
    .carusel-title {
        bottom: 20%;
    }

    .title-carusel {
        font-size: 1.5rem;
    }

    .text-align-center {
        text-align: center;
    }

    .card-item-all {
        margin-left: 10%;

    }

    .half-div {
        padding: 10px;
    }

    .image2 {
        height: 100%;
    }

    .last-section {
        display: none;
    }

}